[Desktop Entry]
Name=WoeUSB-ng
Comment=Create your own usb stick windows installer from an iso image or a real DVD.
Exec=woeusbgui
Icon=woeusb-logo
Terminal=false
Type=Application
Categories=Utility;
Encoding=UTF-8
Categories=Application;Utility;
StartupNotify=true
