#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WoeUSB-ng
Exec=woeusbgui
Icon=/usr/share/icons/WoeUSB-ng/icon.ico
Terminal=false
Type=Application
Categories=Utility;
