#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WoeUSB-ng
Exec=/usr/bin/woeusbgui
Icon=/usr/share/icons/WoeUSB-ng/icon.ico
Terminal=false
Type=Application
